<div class="container">
  <div class="image">
    <img src="{{url}}" alt="">
  </div>

  <div class="content">
    <div class="tour_name">
      <h5>Next Tour</h5>
    </div>
    <div class="tour_title">
      <h2>Unforgettable adventure in Filipinas.</h2>
    </div>
    <div class="tour_paragraph">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac urna nec quam blandit cursus. Mauris
        scelerisque, diam vitae blandit aliquet, velit velit tempor mauris,
        vel posuere enim risus in quam.
        Vestibulum vehicula sodales orci in porta.</p>

      <p>Pellentesque vel magna faucibus arcu imperdiet posuere.
        Integer quis tincidunt lorem. Integer ut tellus erat.
        Nunc et dignissim erat. Quisque vel lorem eget mi euismod convallis at vel tellus.
        Aenean porta id risus.</p>

      <p>Pellentesque vel magna faucibus arcu imperdiet posuere.
        Integer quis tincidunt lorem. Integer ut tellus erat.
        Nunc et dignissim erat. Quisque vel lorem eget mi euismod convallis at vel tellus.
        Aenean porta id risus.</p>
    </div>
  </div>
</div>
