.container{
  display: grid;
  grid-template-columns: 1fr 1fr;

  .image{
  }

  .content{
    margin: auto 0;

    .tour_name{
      color: #c4c4c4;
    }

    .tour_title{
      text-transform: uppercase;
      font-weight: 500;
    }
  }
}
