<div class="container">
  <div class="about_info">
    <div class="about_name">
      <h5>About us</h5>
    </div>
    <div class="about_title">
      <h2>We will turn your work into an exciting journey.</h2>
    </div>
    <div class="about_paragraph">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ac urna nec quam blandit cursus. Mauris
        scelerisque, diam vitae blandit aliquet, velit velit tempor mauris,
        vel posuere enim risus in quam.
        Vestibulum vehicula sodales orci in porta.</p>
      <p>Pellentesque vel magna faucibus arcu imperdiet posuere.
        Integer quis tincidunt lorem. Integer ut tellus erat.
        Nunc et dignissim erat. Quisque vel lorem eget mi euismod convallis at vel tellus.
        Aenean porta id risus.</p>
    </div>
    <div class="about_button">
      <span>more info</span>
    </div>
  </div>

  <div class="about_image">
    <img src="{{imgSrc}}" alt="about" width="100%" >
  </div>
</div>
