<div class="container">
  <div class="title">
    <h2>Photos of our travels</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      In ac urna nec quam blandit cursus. Mauris scelerisque,
      diam vitae blandit aliquet, velit velit tempor mauris,
      vel posuere enim risus in quam..</p>
  </div>
  <div class="photos">
    <div class="column">
      <img src="{{url1}}">
      <img src="{{url4}}">
      <img src="{{url7}}">
    </div>
    <div class="column">
      <img src="{{url2}}">
      <img src="{{url5}}">
      <img src="{{url8}}">
    </div>
    <div class="column">
      <img src="{{url3}}">
      <img src="{{url6}}">
      <img src="{{url9}}">
    </div>
  </div>
</div>
