<div class="container">
  <div class="title">
    <h2>Travel with our company</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      In ac urna nec quam blandit cursus. Mauris scelerisque,
      diam vitae blandit aliquet, velit velit tempor mauris,
      vel posuere enim risus in quam..</p>
  </div>
  <div class="cards">
    <mat-card>
      <img mat-card-image src="{{travel1}}">
      <mat-card-content>
        <h2>Comfortable premium class accommodations</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In ac urna nec quam blandit cursus. Mauris scelerisque,
          diam vitae blandit aliquet
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>View photos</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="{{travel2}}">
      <mat-card-content>
        <h2>Weekly group entertainment and excursions</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          In ac urna nec quam blandit cursus. Mauris scelerisque,
          diam vitae blandit aliquet
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>View photos</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
